<app-header></app-header>

<ion-content id="main-content">
  <div *ngIf="content_page">
    <ion-img src="{{ content_page.featured_image.original_url }}"></ion-img>
    <ion-card class="ion-text-justify">
      <ion-card-header>
        <ion-card-title>
          {{ content_page.title }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none" class="ion-margin-bottom">
          <ion-label style="font-size: smaller;">{{ content_page.excerpt }}</ion-label>
        </ion-item>
        <div innerHtml="{{ content_page.page_text }}"></div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>