ion-icon {
    font-size: 25px;
}

.inactive {
    opacity: 0.5;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    padding: 8px 5px;
}