<app-header></app-header>

<ion-content *ngIf="spot">
  <swiper-container pagination="true" autoplay="true">
    <swiper-slide *ngFor="let photo of spot.photos">
      <ion-img src="{{ photo.original_url }}"></ion-img>
    </swiper-slide>
  </swiper-container>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ spot.name }}</ion-card-title>
      <ion-card-subtitle>{{ spot.location.title }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <capacitor-google-map id="map"></capacitor-google-map>
    </ion-card-content>
  </ion-card>
</ion-content>
