.virtual-pt {
    position: fixed;
    bottom: 0px;
    z-index: 9999999;
    width: 100px;
    padding: 0 0 0 20px;
    //animation: pulse 2s infinite;
}

.virtual-pt::after {
    content: "Olá, eu sou o teu Guia Fitness e estou aqui para te orientar nos treinos.";
    position: absolute;
    bottom: 80px; /* Posiciona o balão acima da imagem */
    left: 100px; /* Ajuste para deixar espaço para o bico */
    background-color: #6d4ada;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.virtual-pt::before {
    content: "";
    position: absolute;
    bottom: 112px; /* Alinha o bico com o balão */
    left: 91px; /* Ajusta a posição do bico */
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #6d4ada; /* Muda a cor do bico para o lado direito */
    z-index: 9999; /* Garante que o bico fique acima do personagem */
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
