<app-header></app-header>

<ion-content>
    <ion-list [inset]="true">
        <ion-item [button]="true" detail="false">
            <div class="unread-indicator-wrapper" slot="start">
                <div class="unread-indicator"></div>
            </div>
            <ion-label>
                <strong>HotelFit</strong><br>
                <ion-note color="medium" class="ion-text-wrap">
                    16-04-2024<br>(15:00 - 16:00)
                </ion-note>
            </ion-label>
            <div class="metadata-end-wrapper" slot="end">
                <ion-note color="medium">Reservado</ion-note>
            </div>
        </ion-item>
        <ion-item [button]="true" detail="false">
            <div class="unread-indicator-wrapper" slot="start">
                <div class="unread-indicator"></div>
            </div>
            <ion-label>
                <strong>HotelFit</strong><br>
                <ion-note color="medium" class="ion-text-wrap">
                    16-04-2024<br>(15:00 - 16:00)
                </ion-note>
            </ion-label>
            <div class="metadata-end-wrapper" slot="end">
                <ion-note color="medium">Aguarda pagamento</ion-note>
            </div>
        </ion-item>
    </ion-list>
</ion-content>