.slider {
    padding: 20px;
    height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5));

    .subtitle {
        color: rgb(245, 99, 75);
    }

    h2 {
        text-shadow: 2px 2px 2px #000;
        font-size: 20px;
    }
    ion-button {
        font-size: 15px;
    }
}

swiper-container {
    --swiper-theme-color: #ffffff;
}

ion-thumbnail {
    --size: 140px;
}

ion-img.logo {
    width: 50px;
    display: inline-block;
}

ion-icon {
    color: rgb(245, 99, 75);
    font-size: xx-large;
}

.text {
    font-size: 13px;
}

ion-card-content.service {
    height: 160px;
}

.location-card {
    position: relative;
    color: white;
    ion-card-header,
    ion-card-content {
        position: relative;
        z-index: 2;
    }
}

.location-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}