<app-header></app-header>

<ion-content>
  <ion-skeleton-text animated="true" style="width: 100%; height: 200px" *ngIf="!sliders"></ion-skeleton-text>
  <swiper-container *ngIf="sliders" pagination="true" autoplay="true" effect="fade">
    <swiper-slide *ngFor="let slide of sliders"
      style="background-image: url('{{ slide.image.original_url }}'); background-size: cover;">
      <div class="slider ion-text-uppercase">
        <h2>
          <span class="title">{{ slide.title }}</span><br>
          <span class="subtitle">{{ slide.subtitle }}</span><br>
          <ion-button size="small" color="danger" class="ion-margin-top" *ngFor="let about of abouts"
            (click)="showAbout(about.text, about.image.original_url)">Saber mais</ion-button>
        </h2>
      </div>
    </swiper-slide>
  </swiper-container>

  <ion-modal [isOpen]="isModalOpen" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.5, 0.75, 1]"
    (willDismiss)="cancel()">
    <ng-template>
      <ion-header>
        <ion-toolbar color="danger">
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">Fechar</ion-button>
          </ion-buttons>
          <ion-title class="ion-text-center">
            <ion-img src="../../assets/logo-dark-v2.png" class="logo"></ion-img>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p [innerHtml]="text"></p>
        <ion-img [src]="image"></ion-img>
      </ion-content>
    </ng-template>
  </ion-modal>

  <swiper-container *ngIf="services" pagination="false" autoplay="true" slides-per-view="2">
    <swiper-slide *ngFor="let service of services">
      <ion-card color="secondary">
        <ion-card-content class="service ion-text-center">
          <ion-icon name="{{ service.icon }}"></ion-icon><br>
          <ion-text class="text">{{ service.title }}</ion-text>
          <ion-text color="danger">
            <h1 class="ion-padding-top" style="font-size: 22px;">{{ service.text }}</h1>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <swiper-container *ngIf="locations" pagination="false" autoplay="true" autoplay-delay="2500">
    <swiper-slide *ngFor="let location of locations">
      <ion-card style="background: url('{{ location.image.original_url }}') center center; background-size: cover;" class="location-card">
        <ion-card-header>
          <ion-icon name="location" class="ion-float-right"></ion-icon>
          <ion-card-subtitle>{{ location.subtitle }}</ion-card-subtitle>
          <ion-card-title>{{ location.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button color="danger" class="ion-float-right ion-margin-bottom" (click)="router.navigateByUrl('location/' + location.id)">Spots</ion-button>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <swiper-container *ngIf="galleries" pagination="false" autoplay="true" slides-per-view="2" space-between="30">
    <swiper-slide *ngFor="let gallery of galleries">
      <ion-img src="{{ gallery.image.original_url }}" (click)="openGallery(gallery.id)"></ion-img>
    </swiper-slide>
  </swiper-container>

  <ion-modal [isOpen]="isGalleryOpen" (willDismiss)="cancel()" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5]">
    <ng-template>
      <ion-header>
        <ion-toolbar color="danger">
          <ion-title>Galeria</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isGalleryOpen = false">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <swiper-container *ngIf="galleries" pagination="true" autoplay="false">
          <swiper-slide *ngFor="let gallery of galleries">
            <ion-img src="{{ gallery.image.original_url }}"></ion-img>
          </swiper-slide>
        </swiper-container>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>