.slider {
    padding: 20px;
    height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5));

    .subtitle {
        color: #f5634b;
    }

    ion-button {
        font-size: 15px;
    }
}

ion-card-title {
    text-shadow: 0px 0px 5px #000;
    font-size: 1.5rem;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ion-card {
    margin: 10px;
}

h2 {
    text-shadow: 0px 0px 5px #000;
    font-size: 1.5rem;
    font-weight: 700;
}

swiper-container {
    --swiper-theme-color: #ffffff;
}

ion-thumbnail {
    --size: 140px;
}

ion-img.logo {
    width: 50px;
    display: inline-block;
}

.location-card {
    position: relative;
    color: white;

    ion-card-header,
    ion-card-content {
        position: relative;
        z-index: 2;
    }
}

.location-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000080;
    z-index: 1;
}

.thumbnail {
    border-radius: 50% !important;
    width: 130px;
    height: 130px;
    margin: 10px;
    border: solid 3px rgb(245, 99, 75);
    background-size: cover;
    background-position: center top;
    display: inline-block;
}

.virtual-pt {
    position: fixed;
    bottom: 0px;
    z-index: 9999999;
    width: 100px;
    padding: 0 0 0 20px;
    animation: pulse 2s infinite;
}

.virtual-pt::after {
    content: "Olá, eu sou o teu Guia Fitness e estou aqui para te orientar nos treinos.";
    position: absolute;
    bottom: 80px; /* Posiciona o balão acima da imagem */
    left: 100px; /* Ajuste para deixar espaço para o bico */
    background-color: #f5634b;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.virtual-pt::before {
    content: "";
    position: absolute;
    bottom: 112px; /* Alinha o bico com o balão */
    left: 91px; /* Ajusta a posição do bico */
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #f5634b; /* Muda a cor do bico para o lado direito */
    z-index: 9999; /* Garante que o bico fique acima do personagem */
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
