<app-header></app-header>

<ion-content>
    <div *ngIf="!access_token">
        <ion-card *ngIf="create">
            <ion-card-header>
                <h1 class="ion-text-center">Criar conta</h1>
            </ion-card-header>
            <ion-card-content>
                <ion-list class="ion-margin-top">
                    <ion-item>
                        <ion-input [value]="user.name" (ionInput)="updateUserField('name', $event)" label="Nome" labelPlacement="stacked"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input [value]="user.email" (ionInput)="updateUserField('email', $event)" label="Email" labelPlacement="stacked"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input [value]="user.password" (ionInput)="updateUserField('password', $event)"
                            [type]="showRegisterPassword ? 'text' : 'password'" label="Password"
                            labelPlacement="stacked"></ion-input>
                        <ion-button fill="clear" slot="end" color="medium" (click)="toggleRegisterPassword()"
                            [attr.aria-label]="showRegisterPassword ? 'Ocultar password' : 'Mostrar password'">
                            <ion-icon [name]="showRegisterPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                        </ion-button>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-input [value]="user.password_confirmation" (ionInput)="updateUserField('password_confirmation', $event)"
                            [type]="showRegisterPasswordConfirmation ? 'text' : 'password'"
                            label="Repetição da password" labelPlacement="stacked"></ion-input>
                        <ion-button fill="clear" slot="end" color="medium" (click)="toggleRegisterPasswordConfirmation()"
                            [attr.aria-label]="showRegisterPasswordConfirmation ? 'Ocultar confirmação da password' : 'Mostrar confirmação da password'">
                            <ion-icon [name]="showRegisterPasswordConfirmation ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-list>
                <ion-button *ngIf="!access_token" [disabled]="isSubmitting" expand="block" class="ion-margin-top" (click)="register()">Criar
                    conta</ion-button>
                <ion-button class="ion-margin" size="small" fill="clear" expand="full" (click)="create = !create">Já
                    possuo conta</ion-button>
            </ion-card-content>
        </ion-card>
        <ion-card *ngIf="!create">
            <ion-card-header>
                <h1 class="ion-text-center">Login</h1>
            </ion-card-header>
            <ion-card-content>
                <ion-list class="ion-margin-top">
                    <ion-item>
                        <ion-input [value]="user.email" (ionInput)="updateUserField('email', $event)" label="Email" labelPlacement="stacked"></ion-input>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-input [value]="user.password" (ionInput)="updateUserField('password', $event)"
                            [type]="showLoginPassword ? 'text' : 'password'" label="Password"
                            labelPlacement="stacked"></ion-input>
                        <ion-button fill="clear" slot="end" color="medium" (click)="toggleLoginPassword()"
                            [attr.aria-label]="showLoginPassword ? 'Ocultar password' : 'Mostrar password'">
                            <ion-icon [name]="showLoginPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-list>
                <ion-button [disabled]="isSubmitting" expand="block" class="ion-margin-top" (click)="login()">Login</ion-button>
                <ion-button class="ion-margin" size="small" fill="clear" expand="full" (click)="create = !create">Criar
                    conta</ion-button>
            </ion-card-content>
        </ion-card>
    </div>
    <div *ngIf="access_token">
        <ion-card>
            <ion-card-header>
                <h1 class="ion-text-center">Atualizar conta</h1>
            </ion-card-header>
            <ion-card-content>
                <ion-list class="ion-margin-top">
                    <ion-item>
                        <ion-input [value]="user.name" (ionInput)="updateUserField('name', $event)" label="Nome" labelPlacement="stacked"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input disabled [value]="user.email" label="Email" labelPlacement="stacked"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input [value]="password" (ionInput)="updatePasswordField('password', $event)" type="password" label="Password"
                            labelPlacement="stacked"></ion-input>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-input [value]="password_confirmation" (ionInput)="updatePasswordField('password_confirmation', $event)"
                            type="password" label="Repetição da password" labelPlacement="stacked"></ion-input>
                    </ion-item>
                </ion-list>
                <ion-button [disabled]="isSubmitting" expand="block" class="ion-margin-top" (click)="updateUser()">Atualizar
                    conta</ion-button>
                <ion-button class="ion-margin" size="small" fill="clear" expand="full"
                    (click)="logout()">Logout</ion-button>
                <ion-button class="ion-margin" color="danger" size="small" fill="clear" expand="full"
                    (click)="delAccount()"><small>Eliminar
                        conta</small></ion-button>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <h1 class="ion-text-center">Dados adicionais e de faturação</h1>
            </ion-card-header>
            <ion-card-content>
                <ion-list class="ion-margin-top">
                    <ion-item>
                        <ion-input [value]="client.name" (ionInput)="updateClientField('name', $event)" label="Nome de faturação"
                            labelPlacement="stacked"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input [value]="client.zip" (ionInput)="updateClientField('zip', $event)" label="Código postal" labelPlacement="stacked"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input [value]="client.location" (ionInput)="updateClientField('location', $event)" label="Localidade"
                            labelPlacement="stacked"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-select label="País" placeholder="Escolher" labelPlacement="stacked"
                            [(ngModel)]="client.country_id">
                            <ion-select-option *ngFor="let country of countries" [value]="country.id">{{ country.name
                                }}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-input [value]="client.phone" (ionInput)="updateClientField('phone', $event)" label="Telefone" labelPlacement="stacked"></ion-input>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-input [value]="client.vat" (ionInput)="updateClientField('vat', $event)" label="Contribuinte" labelPlacement="stacked"></ion-input>
                    </ion-item>
                </ion-list>
                <ion-button [disabled]="isSubmitting" expand="block" class="ion-margin-top" (click)="updateClient()">Atualizar
                    conta</ion-button>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header *ngIf="!user.personal_trainer">
                <h1 class="ion-text-center">Fazer upgrade para Personal trainer</h1>
            </ion-card-header>
            <ion-card-content>
                <ion-button color="primary" expand="block" (click)="goPersonalTrainer()">Ir para área de personal
                    trainer</ion-button>
            </ion-card-content>
        </ion-card>
        <app-cart-button />
    </div>
</ion-content>
